.main {

    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-top: 2rem;
}

.container {
    background-color: var(--fieldcolor);
    padding: 1rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: 23rem;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}

.spinner {
    /* Add your spinner styling here */
    margin-bottom: 1rem;
}

.logoContainer {
    text-align: center;
    margin-bottom: 1rem;
}

.logo {
    width: 4.6rem;
}

.description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text {
    color: var(--fontcolor);
    opacity: 1;
    font-size: 0.8rem;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

img {
    justify-content: center;
    width: 4.6rem;
}