.main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.container {
    display: flex;
    flex-direction: column;
    padding-top: 5rem;
    align-items: center;
    justify-content: center;
    width: 95%;
    padding-bottom: 4.5rem;
}

.searchbox {
    width: 100%;
    position: relative;
}

.tripcard {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.alltrips {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 2rem;

    row-gap: 0rem;
    /* row-count: 2; */
    /* padding-top: 1rem; */
    padding-left: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 4.5rem;
}

.alltripstitle {
    padding: 1rem;
    padding-left: 1.5rem;
    display: flex;
    width: 100%;
    font-size: 0.75rem;
    font-weight: bold;
    
}

.upcoming {
    position: absolute;
    right: 0;
    bottom: 7rem;
}

.block {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.blocktitle {
    font-size: 0.8rem;
    font-weight: bold;
    color: color-mix(
        in srgb,
        var(--backgroundcolor) 50%,
        var(--fontcolor)
    );;
    padding: 1rem 1rem 0.5rem 1rem;
    border-bottom: 0.2px solid color-mix(
        in srgb,
        var(--backgroundcolor) 50%,
        var(--fontcolor)
    );
}

.postscontainer {
    column-gap: 0rem;
    column-count: 1;
    /* padding-top: 1rem; */
    margin-top: 1rem;
    /* margin-bottom: 1rem; */
    width: 100%;
    height: auto;
    flex-grow: 1;
}

@media (max-width: 735px) {
    .upcoming {
        bottom: 10rem;
    }

}

@media (min-width: 30rem) {
    .postscontainer {
        column-count: 2;
    }
}

@media (min-width: 80rem) {
    .postscontainer {
        column-count: 3;
    }
}
