.main {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 5rem;
    max-width: 40rem;
    align-items: center;
    justify-content: center;
    width: 95%;

}

.searchboxcontainer {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: center;
}

.tripcard {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
}

.upcomingtrip {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 40rem;
    height: auto;
    align-items: center;
    justify-content: center;
    background-color: color-mix(in srgb, var(--fontcolor) 15%, var(--backgroundcolor));
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
    padding-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    cursor: pointer;
}

.upcomingtripcol {
    flex-direction: column;
    padding-top: 0.6rem;

}

.upcomingtrip:hover {
    transform: scale(1.05);
    transition: all 1s ease;
}

.upcomingtriptitle {
    position: relative;
    display: flex;
    width: 100%;
    height: 5rem;
    font-size: 0.75rem;
    font-weight: bold;
    padding-left: 1rem;
    align-items: flex-start;
    justify-content: center;
}

.upcomingtriptitlecol {
    height: 1.6rem;
    padding-left: 0;
    justify-content: center;
    font-size: 0.8rem;
    padding-buttom: 0.3rem;
}

.alltrips {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 2rem;
}

.alltripstitle {
    padding: 1rem;
    padding-left: 1.5rem;
    display: flex;
    width: 100%;
    font-size: 0.75rem;
    font-weight: bold;
}

@media (min-width: 420rem) {
    .upcomingtriptitle {
        position: relative;
        left: 2rem;
    }
}

@media (min-width: 78rem) {
    .upcomingtrip {
        max-width: 10rem;
    }
}

/* @media (min-width: 60rem) {
    .spotscontainer {
        column-count: 3;
    }
}
@media (min-width: 78rem) {
    .spotscontainer {
        column-count: 4;
    }
}
@media (min-width: 98rem) {
    .spotscontainer {
        column-count: 5;
    }
}
@media (min-width: 120rem) {
    .spotscontainer {
        column-count: 6;
    }
} */
