.main {

    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-top: 0.5rem;
}

.loginContainer {
    background-color: var(--fieldcolor);
    padding: 1rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: 23rem;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    text-align: center;
    margin-bottom: 1rem;
}

.logo {
    width: 4.6rem;
}


.tabs {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.9rem;
}

button {
    background: none;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    font-weight: bold;
    font-size: 1rem;
    color: var(--fontcolor);
    opacity: 0.7;
    outline: none;
}

button.active {
    border-bottom: 2px solid var(--secondarycolor);
    color: var(--secondarycolor);
    opacity: 1;
}


.inputGroup {
    padding-bottom: 1rem;
}

.errorMessage {
    color: red;
    /* Style it as needed, for example: */
    font-size: 0.6rem;
    margin-top: 0.6rem;
}

/* Adjust your label and input container if necessary */
.inputWithErrorMessage {
    display: flex;
    flex-direction: column;
    position: relative;
}

.links {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;

}

.links a {
    color: var(--primarycolor);
    text-decoration: none;
    font-size: 0.9rem;
}

.links a:hover {
    color: var(--fontcolor);
    opacity: 1;
    transform: translateY(0);
    transition-duration: 0.35s;

}

.links a:active {
    transform: translateY(2px);
    transition-duration: 0.35s;
}


.socialLogin {
    text-align: center;
    margin-top: 1rem;
}

.thirdSignin {
    padding-bottom: 0.5rem;
    color: var(--fontcolor);
    opacity: 0.6;
}

.icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 4rem;
    background-color: #f0f0f0;
    margin: 0rem 0.8em;
}


.icon:hover {
    background-color: #e0e0e0;
    /*Darkerbackgroundonhover*/
    color: var(--fontcolor);
    /*Changeiconcoloronhover*/
    box-shadow: 0 1rem 5rem rgba(0, 0, 0, 0.2);
    /*Addashadoweffect*/
    transform: translateY(-3px);
}

.icon img {
    width: 1.5rem;
    height: 1.5rem;
}

.description {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.text {
    color: var(--fontcolor);
    opacity: 1;
    font-size: 0.8rem;
    text-align: justify;
}

h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}