.container {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    margin-bottom: 5rem;
    margin-top: 4.5rem;
    align-items: center;
    width: auto;
}

.buttoncontainer {
    position: sticky;
    width: 31rem;
    display: flex;
    justify-content: center;
}

.button {
    width: 100%;
}

@media (max-width: 735px) {
    .buttoncontainer {
        width: 90%;
        bottom: 3.5rem;
        margin-left: 1rem;
        padding-left: 0;
    }
}
