.main {

    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-top: 5rem;
}

.loginContainer {
    background-color: var(--fieldcolor);
    padding: 1rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: 23rem;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    text-align: center;
    margin-bottom: 1rem;
}

.logo {
    width: 4.6rem;
}
.backButton {
    padding-left: 0rem;
}

.backButton FaArrowLeft{
    size: 3rem;
}

.inputGroup {
    padding-bottom: 1rem;
}

.errorMessage {
    color: red;
    /* Style it as needed, for example: */
    font-size: 0.6rem;
    margin-top: 0.6rem;
}

/* Adjust your label and input container if necessary */
.inputWithErrorMessage {
    display: flex;
    flex-direction: column;
    position: relative;
}

.alert {
    border: 0.15rem dotted var(--accentcolor);
    /* background-color: var(--accentcolor); */
    /* opacity: 0.7; */
    padding: 0.5rem 0.5rem; 
    margin: 1rem 0 2rem 0;
    border-radius: 0.1rem;
}

.text {
    color: var(--fontcolor);
    opacity: 1;
    font-size: 0.8rem;
    text-align: justify;
}