.main {

    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-top: 0.5rem;
}

.resetContainer {
    background-color: var(--fieldcolor);
    padding: 1rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    width: 23rem;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}

.logoContainer {
    text-align: center;
    margin-bottom: 1rem;
}

.logo {
    width: 4.6rem;
    
}

.inputGroup {
    padding-bottom: 1rem;
}

.errorMessage {
    color: red;
    /* Style it as needed, for example: */
    font-size: 0.6rem;
    margin-top: 0.6rem;
}

.text {
    color: var(--fontcolor);
    opacity: 1;
    font-size: 0.8rem;
    text-align: justify;
}

h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
    text-align: center;
}
