.main {
    padding: 1rem;
    display: flex;
}

.img {
    border-radius: 0.2rem;
    width: 25%;
    max-width: 40rem;
    height: auto;
    object-fit: fill;
    box-shadow: 0.2rem 0.2rem 0.75rem var(--secondarycolor);
    user-select: none;
}

.textbox {
    width: 100%;
    padding: 1rem;
}

.title {
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: 1.25rem;
    border-bottom: 1px solid var(--secondarycolor);
}
.row {
    display: flex;
}
.rowname {
    width: 6rem;
}
.info {
    padding-top: 0.5rem;
    font-size: 0.8rem;
    line-height: 1.5rem;
}

@media (max-width: 735px) {
    .main {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .img {
        width: 100%;
        margin-bottom: 1rem;
    }
}
