* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: var(--fontcolor);
}
html {
    font-size: 20px;
}
@media (max-width: 600px) {
    html {
        font-size: 16px;
    }
}
@media (max-width: 325px) {
    html {
        font-size: 12px;
    }
}
body {
    margin: 0;
    font-family: "Jockey one", "Microsoft JhengHei", "PingFang", -apple-system,
        BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.App {
    width: 100vw;
    height: 100vh;
    max-width: 100dvw;
    max-height: 100dvh;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: var(--backgroundcolor);
}
.App[theme="dark"] {
    --accentcolor: #d38c09;
    --primarycolor: #0089a7;
    --secondarycolor: #d9cd90;
    --backgroundcolor: #1e1c15;
    --fontcolor: #fffafd;
}
.App[theme="light"] {
    --accentcolor: #f6b02c;
    --primarycolor: #67c5da;
    --secondarycolor: #985f2a;
    --backgroundcolor: #eae8e1;
    --fontcolor: #050003;
}

::-webkit-scrollbar {
    height: 0.5rem;
    width: 0.5rem;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondarycolor);
    border-radius: 10px;
    border: 1px solid var(--primarycolor);
}
