.calendar {
    border: 1px solid var(--secondarycolor);
    box-shadow: var(--secondarycolor) 0 0.5rem 1rem;
    border-radius: 1rem;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid var(--secondarycolor);
}
.table {
    border-collapse: collapse;
}
.title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 900;
}
.control {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 900;
}
.block {
    font-size: 0.75rem;
    width: 4rem;
    height: 2.5rem;
    max-height: 2.5rem;
    max-width: 4rem;
    text-align: center;
    position: relative;
    font-weight: 900;
    overflow: hidden;
}
.clickable {
    cursor: pointer;
}
.selected span {
    border-radius: 50%;
    color: var(--backgroundcolor);
    background-color: var(--secondarycolor);
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
.selected div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
}
.selectedend div::after {
    position: absolute;
    height: 2rem;
    width: 3rem;
    top: 0.25rem;
    right: 1rem;
    content: " ";
    background-color: color-mix(
        in srgb,
        var(--secondarycolor) 40%,
        transparent
    );
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    z-index: 0;
}
.selectedstart div::after {
    position: absolute;
    height: 2rem;
    width: 3rem;
    top: 0.25rem;
    left: 1rem;
    content: " ";
    background-color: color-mix(
        in srgb,
        var(--secondarycolor) 40%,
        transparent
    );
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    z-index: 0;
}
.between div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    width: 100%;
    background-color: color-mix(
        in srgb,
        var(--secondarycolor) 40%,
        transparent
    );
}
