.main {

    display: flex;
    flex-direction: column;
    width: 100vw;
    align-items: center;
    padding-top: 2rem;
}

.container {
    background-color: var(--fieldcolor);
    padding: 1rem 2rem 1.5rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 0.5rem 1rem color-mix(in srgb, var(--fontcolor) 15%, transparent);
    width: 23rem;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}

.spinner {
    display: flex;
    flex-direction: column;
    /* Stack items vertically */
    align-items: center;
    /* Center items horizontally in the container */
    justify-content: center;
    /* Center items vertically in the container */
    margin-top: 1rem;
}

.logoContainer {
    text-align: center;
    margin-bottom: 1rem;
}

.logo {
    width: 4.6rem;
}

.description {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.text {
    color: var(--fontcolor);
    opacity: 1;
    font-size: 0.8rem;
    text-align: center;
}

h2 {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1.1rem;
}

img {
    justify-content: center;
    width: 4.6rem;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: fit-content;
    font-family: monospace;
    font-size: 1rem;
    color: #0000;
    background: linear-gradient(90deg, var(--fontcolor) calc(50% - 0.5ch), var(--accentcolor) 0 calc(50% + 0.5ch), var(--fontcolor) 0) right/calc(200% + 1ch) 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: l8 2s infinite steps(11);
}

.loader:before {
    content: "Building your account...";
}

@keyframes l8 {
    to {
        background-position: left
    }
}

.errorMessage {
    color: red;
    /* Style it as needed, for example: */
    font-size: 0.6rem;
    margin-top: 0.6rem;
}