.container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding-top: 2rem;
    min-width: 45vw;
}

.title {
    font-size: 1.25rem;
    font-weight: bold;
    padding-bottom: 1rem;
}

.ledgertitle {
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
    margin-left: 0.5rem;
    padding-top: 0.5rem;
}

.backbt {
    font-size: 3rem;
    height: 1.5rem;
    cursor: pointer;
}

.container ul {
    list-style: none;
    padding: 0;
    margin-bottom: 1.5rem; /* Removes default margin to keep custom settings consistent */
}

.container li {
    margin-bottom: 0.2rem;
}

.container .totalCost {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    display: block; 
    padding-left: 4rem;
    padding-right: 1rem;
}

.detailItem {
    margin-bottom: 1rem;
    text-align: left; 
    padding-left: 4rem;
    padding-right: 1rem;
}

.owe {
    color: red;
}

.owed {
    color: green;
}

.fab {
    position: absolute;
    bottom: 10px; /* Position from the bottom of the transactionHistory container */
    right: 10px; /* Position from the right of the transactionHistory container */
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: rgba(98, 0, 238, 0.7); /* Semi-transparent purple */
    color: white;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease-in-out, background-color 0.2s;
    z-index: 1000; /* Ensure it's above other elements */
}

.fab:hover {
    background-color: rgba(55, 0, 179, 0.9); /* Slightly less transparent on hover */
    transform: scale(1.1); /* Scales up the button */
}

.addIcon {
    width: 24px;
    height: 24px;
}

