.main {
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    width: fit-content;
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 0.35rem;
    background-color: color-mix(in srgb, var(--fontcolor) 15%, transparent);
    color: color-mix(in srgb, var(--fontcolor) 75%, transparent);
    opacity: 0.9;
    padding: 0 0.7rem 0 0.7rem;
    align-items: center;
    margin-right: 0.3rem;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    /* box-shadow: 0 0.1rem 0.2rem color-mix(in srgb, var(--fontcolor) 75%, transparent); */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    /* box-shadow: var(--fontcolor) 0px 2px 5px -1px, var(--fontcolor) 0px 1px 3px -1px; */
    white-space: nowrap;
    /* overflow: hidden;
    text-overflow: ellipsis; */
    cursor: pointer;
  }

.icon {
    position: relative;
    top: 0.08rem;
    display: inline-block;
    height: 1.5rem;
    line-height: 1.5rem;
    margin-left: 0.2rem;
}
