.card {
    display: flex;
    width: 30rem;
    height: 8rem;
    background-color: var(--backgroundcolor);
    margin: 1rem;
    margin-top: 0rem;
    border-radius: 0.5rem;
    border: 0.1rem solid color-mix(in srgb, var(--secondarycolor) 60%, transparent);
    box-shadow: 0rem 0.5rem 0.5rem color-mix(in srgb, var(--secondarycolor) 15%, transparent);
    transition: all 0.3s ease;
    position: relative;
}

.card:hover {
    cursor: pointer;
    opacity: 0.9;
    transform: scale(1.05);
}

.img {
    object-fit: cover;
    width: 18rem;
    height: 100%;
    overflow: hidden;
    border-radius: 0.5rem 0 0 0.5rem;
    position: relative;
}

.status {
    position: absolute;
    top: 0.8rem;
    left: 0.8rem;
    color: var(--fieldcolor);
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.8rem;
    font-weight: bold;
    z-index: 1;
}

.status-1 {
    background-color: color-mix(in srgb, var(--fontcolor) 60%, transparent);
}

.status1 {
    background-color: var(--color-for-red);
}

.status2 {
    background-color: var(--color-for-green);
}

.info {
    display: flex;
    flex-direction: column;
    width: 12rem;
    padding-top: 0.2rem;
    padding-left: 0.5rem;
    justify-content: center;
    position: relative;
}

.title {
    height: 2.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
}

.countryIcon {
    width: 1.5rem;
    height: 1rem;
    margin-left: 1rem;
}

.dates div {
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    font-size: 0.6rem;
    color: color-mix(in srgb, var(--fontcolor) 45%, transparent);;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.members {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0.7rem;
    right: 1rem;
}

.memberAvatars {
    display: flex;
    align-items: center;
}

.memberContainer {
    position: relative;
    display: inline-block;
}

.memberAvatar {
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 2px solid var(--secondarycolor);
    position: relative;
    z-index: 1;
    margin-left: -0.5rem;
    transition: all 0.3s ease;
}

.memberAvatar:hover {
    transform: scale(1.1);
    z-index: 2;
}

.tooltip {
    visibility: hidden;
    background-color: color-mix(in srgb, var(--fontcolor) 60%, transparent);
    color: var(--fieldcolor);
    border-radius: 0.5rem;
    padding: 0.2rem 0.5rem;
    position: absolute;
    z-index: 8;
    bottom: 125%; /* Position above the avatar */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
    font-size: 0.8rem;
    text-align: center;
}

.memberContainer:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

.moreMembers {
    font-size: 0.6rem;
    color: color-mix(in srgb, var(--fontcolor) 60%, transparent);
    margin-left: 0.2rem;
}

.tags {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    height: 2.3rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.tag {
    display: inline-block;
    height: 1.2rem;
    line-height: 1.3rem;
    width: fit-content;
    font-weight: bold;
    font-size: 0.7rem;
    border-radius: 0.35rem;
    background-color: color-mix(in srgb, var(--fontcolor) 15%, transparent);
    color: color-mix(in srgb, var(--fontcolor) 75%, transparent);
    opacity: 0.9;
    padding: 0 0.7rem;
    align-items: center;
    margin-right: 0.3rem;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.icons {
    display: flex;
    flex-direction: row;
    padding: 0.4rem;
}

.icon {
    display: flex;
    margin: 0.2rem;
}

.icon:hover {
    transform: scale(1.1);
}

.memberCountText {
    display: none;
}

@media (max-width: 735px) {
    .card {
        width: 90%;
    }

    .img {
        width: 12rem;
    }

    .info {
        width: calc(100% - 12rem);
    }

    
}

@media (max-width: 580px) {
    .card {
        width: 90%;
    }

    .img {
        width: 10rem;
    }

    .info {
        width: calc(100% - 10rem);
    }
    .memberCountText {
        display: inline;
        font-size: 0.5rem;
    }

    .memberAvatars {
        display: none;
    }
}
